In [1]:
import pandas as pd
import numpy as np

In [12]:
print(sales_df)

    Unnamed: 0        date  sales
0            0  2023-07-01   2010
1            1  2023-07-02   1845
2            2  2023-07-03    141
3            3  2023-07-04   2007
4            4  2023-07-05   2592
5            5  2023-07-06    330
6            6  2023-07-07     18
7            7  2023-07-08   1245
8            8  2023-07-09   1689
9            9  2023-07-10   1794
10          10  2023-07-11   2511
11          11  2023-07-12   2160
12          12  2023-07-13    855
13          13  2023-07-14     27
14          14  2023-07-15   1839
15          15  2023-07-16   2043
16          16  2023-07-17    900
17          17  2023-07-18    300
18          18  2023-07-19    657
19          19  2023-07-20   2241
20          20  2023-07-21    849
21          21  2023-07-22    663
22          22  2023-07-23   2664
23          23  2023-07-24   1473
24          24  2023-07-25    450
25          25  2023-07-26    984
26          26  2023-07-27   2766
27          27  2023-07-28   1866
28          28  2023-07-29    906
29          29  2023-07-30    594

In [13]:
print(weather_df)
merge

    Unnamed: 0        date  temperature
0            0  2023-07-01    27.774945
1            1  2023-07-02    29.418479
2            2  2023-07-03    28.495733
3            3  2023-07-04    30.369211
4            4  2023-07-05    23.527366
5            5  2023-07-06    33.863415
6            6  2023-07-07    29.496996
7            7  2023-07-08    29.572397
8            8  2023-07-09    26.581430
9            9  2023-07-10    27.585032
10          10  2023-07-11    28.778842
11          11  2023-07-12    23.835334
12          12  2023-07-13    30.944713
13          13  2023-07-14    29.267127
14          14  2023-07-15    25.575075
15          15  2023-07-16    28.632283
16          16  2023-07-17    32.013838
17          17  2023-07-18    32.795059
18          18  2023-07-19    24.799404
19          19  2023-07-20    26.752678
20          20  2023-07-21    32.459505
21          21  2023-07-22    24.321133
22          22  2023-07-23    24.795955
23          23  2023-07-24    33.579580
24          24  2023-07-25    27.432170
25          25  2023-07-26    33.957569
26          26  2023-07-27    23.926716
27          27  2023-07-28    26.572704
28          28  2023-07-29    26.504578
29          29  2023-07-30    29.358892

Unnamed: 0        date  temperature sales
0            0  2023-07-01    27.774945 2010
1            1  2023-07-02    29.418479 1845

In [16]:
sales_df = pd.read_csv('2.4 sales.csv')
weather_df = pd.read_csv('2.4 weather.csv')
final_df = weather_df.merge(sales_df)
print(final_df)

    Unnamed: 0        date  temperature  sales
0            0  2023-07-01    27.774945   2010
1            1  2023-07-02    29.418479   1845
2            2  2023-07-03    28.495733    141
3            3  2023-07-04    30.369211   2007
4            4  2023-07-05    23.527366   2592
5            5  2023-07-06    33.863415    330
6            6  2023-07-07    29.496996     18
7            7  2023-07-08    29.572397   1245
8            8  2023-07-09    26.581430   1689
9            9  2023-07-10    27.585032   1794
10          10  2023-07-11    28.778842   2511
11          11  2023-07-12    23.835334   2160
12          12  2023-07-13    30.944713    855
13          13  2023-07-14    29.267127     27
14          14  2023-07-15    25.575075   1839
15          15  2023-07-16    28.632283   2043
16          16  2023-07-17    32.013838    900
17          17  2023-07-18    32.795059    300
18          18  2023-07-19    24.799404    657
19          19  2023-07-20    26.752678   2241
20          20  2023-07-21    32.459505    849
21          21  2023-07-22    24.321133    663
22          22  2023-07-23    24.795955   2664
23          23  2023-07-24    33.579580   1473
24          24  2023-07-25    27.432170    450
25          25  2023-07-26    33.957569    984
26          26  2023-07-27    23.926716   2766
27          27  2023-07-28    26.572704   1866
28          28  2023-07-29    26.504578    906
29          29  2023-07-30    29.358892    594

In [21]:
import numpy as np
import pandas as pd
autos_df = pd.read_csv('2.4 autos.csv')

In [19]:
print(autos_df.columns)

Index(['symboling', 'make', 'fuel_type', 'aspiration', 'num_of_doors',
       'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length',
       'width', 'height', 'curb_weight', 'engine_type', 'num_of_cylinders',
       'engine_size', 'fuel_system', 'bore', 'stroke', 'compression_ratio',
       'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

In [23]:
autos_df['displacement'] = (np.pi * ((autos_df.bore*0.5)**2) * autos_df.stroke * autos_df.num_of_cylinders)

In [24]:
autos_df

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,displacement
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9,111,5000,21,27,13495,101.377976
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9,111,5000,21,27,16500,101.377976
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9,154,5000,19,26,16500,117.446531
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10,102,5500,24,30,13950,108.695147
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8,115,5500,18,22,17450,135.868934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9,114,5400,23,28,16845,141.398247
189,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8,160,5300,19,25,19045,141.398247
190,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8,134,5500,18,23,21485,173.336124
191,-1,volvo,diesel,turbo,4,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23,106,4800,26,27,22470,145.162032
192,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9,114,5400,19,25,22625,141.398247

In [25]:
autos_df['torque'] = autos_df.displacement * autos_df.compression_ratio *  (10 ** 5)

In [32]:
autos_df['power'] = (autos_df.torque * autos_df['peak rpm'] / 9549) / (10** 3)/ 1.3596

In [33]:
print(autos_df.loc[:, ['displacement', 'torque', 'power', 'horsepower']])

     displacement        torque          power  horsepower
0      101.377976  9.124018e+07   35138.812516         111
1      101.377976  9.124018e+07   35138.812516         111
2      117.446531  1.057019e+08   40708.364933         154
3      108.695147  1.086951e+08   46047.260327         102
4      135.868934  1.086951e+08   46047.260327         115
..            ...           ...            ...         ...
188    141.398247  1.272584e+08   52931.139817         114
189    141.398247  1.131186e+08   46178.607577         160
190    173.336124  1.386689e+08   58745.243596         134
191    145.162032  3.338727e+08  123439.190247         106
192    141.398247  1.272584e+08   52931.139817         114

[193 rows x 4 columns]

Employees
1.	Посчитайте налог на зп(13%)
2. Чистая зп
3. Посчитайте для каждого сотрудника зп в год + премия в виде 2-х зп
4. Посчитайте сколько в сумме тратит организация на зп сотрудникам за один месяц

In [8]:
import pandas as pd
import numpy as np
employees = pd.read_csv('employees.csv')
employees = employees.loc[:, ['name', 'salary']]
employees['tax'] = employees['salary'] * 0.13
employees['pay'] = employees['salary'] - employees['tax']

sum_for_month = 0
salary_s = employees['salary']
for i in salary_s:
    sum_for_month += i
print(sum_for_month)










# employees = employees.iloc[:, 3:]
# employees['tax'] = employees['salary'] * 0.13
# employees['zp'] = employees['salary'] - employees['tax']
# employees['sal_for_year'] = employees['salary'] * 12 + employees['salary'] * 2
print(employees)

2167267.0
                    name   salary      tax       pay
0         Alicia Higgins  27777.0  3611.01  24165.99
1             Gary Evans  27771.0  3610.23  24160.77
2       Matthew Chandler  27782.0  3611.66  24170.34
3       William Gonzalez  27748.0  3607.24  24140.76
4         Debra Phillips  27783.0  3611.79  24171.21
..                   ...      ...      ...       ...
73        Jennifer Hobbs  27808.0  3615.04  24192.96
74          George James  27767.0  3609.71  24157.29
75         Zachary Miles  27757.0  3608.41  24148.59
76  Dr. Tommy Sutton Jr.  27769.0  3609.97  24159.03
77           Terry Smith  27753.0  3607.89  24145.11

[78 rows x 4 columns]

In [11]:
s = 0
for i in employees['salary']:
    s += i
print(s)

2167267.0

Weather Sales
1.	Соедините две таблицы в одну, ввида:
final_df
+------------+----------+-----------+
| date       | sales    |temperature|
+------------+----------+-----------+
| 2023-07-01 | 2010     | 27.774945 |
| 2023-07-02 | 1845     | 29.418479 |
+------------+----------+-----------+
2. подсказка merge(dataframes), concat(series/dataframes)

In [9]:
weather_df = pd.read_csv('2.4 weather.csv')
sales_df = pd.read_csv('2.4 sales.csv')

sales_df = sales_df.sort_values(by='date')
weather_df = weather_df.sort_values(by='date')

In [12]:
date_s = weather_df['date']
temp_s = weather_df['temperature']
sales_s = sales_df['sales']
final_df = pd.concat([date_s, sales_s, temp_s], axis=1)
print(final_df)

          date  sales  temperature
0   2023-07-01   2010    27.774945
1   2023-07-02   1845    29.418479
2   2023-07-03    141    28.495733
3   2023-07-04   2007    30.369211
4   2023-07-05   2592    23.527366
5   2023-07-06    330    33.863415
6   2023-07-07     18    29.496996
7   2023-07-08   1245    29.572397
8   2023-07-09   1689    26.581430
9   2023-07-10   1794    27.585032
10  2023-07-11   2511    28.778842
11  2023-07-12   2160    23.835334
12  2023-07-13    855    30.944713
13  2023-07-14     27    29.267127
14  2023-07-15   1839    25.575075
15  2023-07-16   2043    28.632283
16  2023-07-17    900    32.013838
17  2023-07-18    300    32.795059
18  2023-07-19    657    24.799404
19  2023-07-20   2241    26.752678
20  2023-07-21    849    32.459505
21  2023-07-22    663    24.321133
22  2023-07-23   2664    24.795955
23  2023-07-24   1473    33.579580
24  2023-07-25    450    27.432170
25  2023-07-26    984    33.957569
26  2023-07-27   2766    23.926716
27  2023-07-28   1866    26.572704
28  2023-07-29    906    26.504578
29  2023-07-30    594    29.358892

In [14]:
final_df = pd.concat([weather_df, sales_df], axis=1)
final_df = final_df.iloc[:, [1, 2, 5]]
print(final_df)

          date  temperature  sales
0   2023-07-01    27.774945   2010
1   2023-07-02    29.418479   1845
2   2023-07-03    28.495733    141
3   2023-07-04    30.369211   2007
4   2023-07-05    23.527366   2592
5   2023-07-06    33.863415    330
6   2023-07-07    29.496996     18
7   2023-07-08    29.572397   1245
8   2023-07-09    26.581430   1689
9   2023-07-10    27.585032   1794
10  2023-07-11    28.778842   2511
11  2023-07-12    23.835334   2160
12  2023-07-13    30.944713    855
13  2023-07-14    29.267127     27
14  2023-07-15    25.575075   1839
15  2023-07-16    28.632283   2043
16  2023-07-17    32.013838    900
17  2023-07-18    32.795059    300
18  2023-07-19    24.799404    657
19  2023-07-20    26.752678   2241
20  2023-07-21    32.459505    849
21  2023-07-22    24.321133    663
22  2023-07-23    24.795955   2664
23  2023-07-24    33.579580   1473
24  2023-07-25    27.432170    450
25  2023-07-26    33.957569    984
26  2023-07-27    23.926716   2766
27  2023-07-28    26.572704   1866
28  2023-07-29    26.504578    906
29  2023-07-30    29.358892    594

In [17]:
final_df = pd.merge(weather_df, sales_df, on='date')
print(final_df)

    Unnamed: 0_x        date  temperature  Unnamed: 0_y  sales
0              0  2023-07-01    27.774945             0   2010
1              1  2023-07-02    29.418479             1   1845
2              2  2023-07-03    28.495733             2    141
3              3  2023-07-04    30.369211             3   2007
4              4  2023-07-05    23.527366             4   2592
5              5  2023-07-06    33.863415             5    330
6              6  2023-07-07    29.496996             6     18
7              7  2023-07-08    29.572397             7   1245
8              8  2023-07-09    26.581430             8   1689
9              9  2023-07-10    27.585032             9   1794
10            10  2023-07-11    28.778842            10   2511
11            11  2023-07-12    23.835334            11   2160
12            12  2023-07-13    30.944713            12    855
13            13  2023-07-14    29.267127            13     27
14            14  2023-07-15    25.575075            14   1839
15            15  2023-07-16    28.632283            15   2043
16            16  2023-07-17    32.013838            16    900
17            17  2023-07-18    32.795059            17    300
18            18  2023-07-19    24.799404            18    657
19            19  2023-07-20    26.752678            19   2241
20            20  2023-07-21    32.459505            20    849
21            21  2023-07-22    24.321133            21    663
22            22  2023-07-23    24.795955            22   2664
23            23  2023-07-24    33.579580            23   1473
24            24  2023-07-25    27.432170            24    450
25            25  2023-07-26    33.957569            25    984
26            26  2023-07-27    23.926716            26   2766
27            27  2023-07-28    26.572704            27   1866
28            28  2023-07-29    26.504578            28    906
29            29  2023-07-30    29.358892            29    594

In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('2.3 count.csv')
df = df.dropna()
df = df.iloc[:, [2 ,3]]

df.shape

(78, 2)

In [11]:
from random import choice
country = ['France', 'USA', 'Russian']
country_lst = []
for i in range(78):
    country_lst.append(choice(country))
len(country_lst)

78

In [13]:
df['country'] = country_lst
df.to_csv('2.3 country.csv')

In [18]:
a = [1, 2 ,3]
a1 = [(x, x ** 2) for x in a]
print(a1)

[(1, 1), (2, 4), (3, 9)]

In [43]:
df = pd.read_csv('2.3 country.csv')
df = df.iloc[:, [2 ,3]]
df = df.groupby(['country'])
mean_age = df.mean()
count_country = df.count()
print(mean_age)
print(count_country)

               age
country
France   53.562500
Russian  49.777778
USA      60.742857
         age
country
France    16
Russian   27
USA       35