In [4]:
import pandas as pd
# Из имени и фамилии делаем полное имя
df = pd.DataFrame({'name': ['Маша', 'Саша', 'Рудольф'],
'surname':['Петрова', 'Сидоров', 'Кац']})
# １ способ
df['fullname1'] = df[['name', 'surname']].apply(lambda x: x[0] + ' ' + x[1], axis=1)
# 2 способ
lst = []
for n, s in zip(df.name, df.surname):
    lst.append(n + ' ' + s)
df['fullname2'] = lst
# 3 способ
df['fullname3'] = df['name'] + ' ' + df['surname']
print(df)

      name  surname     fullname1     fullname2     fullname3
0     Маша  Петрова  Маша Петрова  Маша Петрова  Маша Петрова
1     Саша  Сидоров  Саша Сидоров  Саша Сидоров  Саша Сидоров
2  Рудольф      Кац   Рудольф Кац   Рудольф Кац   Рудольф Кац

C:\Users\Борис\AppData\Local\Temp\ipykernel_13532\275119243.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['fullname1'] = df[['name', 'surname']].apply(lambda x: x[0] + ' ' + x[1], axis=1)

In [5]:
#Несколько колонок как функция одной
import pandas as pd
a = pd.DataFrame({'a': [1,2,1,2], 'b':[3,3,3,4]})
def two_three_strings(x):
    return x*2, x*3
print(a)
a['a + b'] = a['a'] + a['b']
print(a)

   a  b
0  1  3
1  2  3
2  1  3
3  2  4
   a  b  a + b
0  1  3      4
1  2  3      5
2  1  3      4
3  2  4      6

Задание
Откройте набор данных 2.4 houses.csv
Добавьте в датафрейм новые колонки:
1. LivLotRatio как отношение колонки GrLivArea к колонке LotArea
2. Spaciousness: сумма FirstFlrSF и SecondFlrSF, деленая на TotRmsAbvGrd
Посмотрите на датафрейм, подумайте, какие ещё значения могут быть полезны, запишите одну из
своих идей.

In [2]:
import pandas as pd
import numpy as np
houses_df = pd.read_csv('2.4 houses.csv')
houses_df['LivLotRatio'] = houses_df['GrLivArea'] / houses_df['LotArea']
houses_df['Spaciousness'] = (houses_df['FirstFlrSF'] + houses_df['SecondFlrSF']) / houses_df['TotRmsAbvGrd']
print(houses_df.loc[:, ['LivLotRatio', 'GrLivArea', 'LotArea']])





# autos_df = pd.read_csv('2.4 autos.csv')
# autos_df['displacement'] = (np.pi *((autos_df.bore * 0.5) ** 2) * autos_df.stroke * autos_df.num_of_cylinders)
# autos_df['make + fuel'] = autos_df['make'] + ' ' + autos_df['fuel_type']
# print(autos_df.loc[:, ['displacement', 'make + fuel']])

      LivLotRatio  GrLivArea  LotArea
0        0.052125     1656.0  31770.0
1        0.077095      896.0  11622.0
2        0.093152     1329.0  14267.0
3        0.189068     2110.0  11160.0
4        0.117787     1629.0  13830.0
...           ...        ...      ...
2925     0.126370     1003.0   7937.0
2926     0.101519      902.0   8885.0
2927     0.092903      970.0  10441.0
2928     0.138761     1389.0  10010.0
2929     0.207749     2000.0   9627.0

[2930 rows x 3 columns]

создайте колонку Spaciousness: сумма FirstFlrSF и SecondFlrSF, деленая на TotRmsAbvGrd

In [17]:
houses_df = pd.read_csv('2.4 houses.csv')
houses_df['LivLotRatio'] = houses_df['GrLivArea'] / houses_df['LotArea']
houses_df['Spaciousness'] = (houses_df['FirstFlrSF'] + houses_df['SecondFlrSF']) / houses_df['TotRmsAbvGrd']
print(houses_df.loc[:, ['FirstFlrSF','SecondFlrSF', 'TotRmsAbvGrd',  'Spaciousness']])

      FirstFlrSF  SecondFlrSF  TotRmsAbvGrd  Spaciousness
0         1656.0          0.0             7    236.571429
1          896.0          0.0             5    179.200000
2         1329.0          0.0             6    221.500000
3         2110.0          0.0             8    263.750000
4          928.0        701.0             6    271.500000
...          ...          ...           ...           ...
2925      1003.0          0.0             6    167.166667
2926       902.0          0.0             5    180.400000
2927       970.0          0.0             6    161.666667
2928      1389.0          0.0             6    231.500000
2929       996.0       1004.0             9    222.222222

[2930 rows x 4 columns]

In [3]:
houses_df.dtypes

MSSubClass        object
MSZoning          object
LotFrontage      float64
LotArea          float64
Street            object
                  ...
SaleType          object
SaleCondition     object
SalePrice          int64
LivLotRatio      float64
Spaciousness     float64
Length: 81, dtype: object

In [2]:
import pandas as pd
weather_df = pd.read_csv('2.4 weather.csv')
sales_df = pd.read_csv('2.4 sales.csv')

In [8]:
sales_df = sales_df.sort_values(by='date')
weather_df = weather_df.sort_values(by='date')

In [12]:
temp = weather_df['temperature']
date = weather_df['date']
sales = sales_df['sales']
pd.concat([weather_df, sales_df], axis=1)

    Unnamed: 0        date  temperature  Unnamed: 0        date  sales
0            0  2023-07-01    27.774945           0  2023-07-01   2010
1            1  2023-07-02    29.418479           1  2023-07-02   1845
2            2  2023-07-03    28.495733           2  2023-07-03    141
3            3  2023-07-04    30.369211           3  2023-07-04   2007
4            4  2023-07-05    23.527366           4  2023-07-05   2592
5            5  2023-07-06    33.863415           5  2023-07-06    330
6            6  2023-07-07    29.496996           6  2023-07-07     18
7            7  2023-07-08    29.572397           7  2023-07-08   1245
8            8  2023-07-09    26.581430           8  2023-07-09   1689
9            9  2023-07-10    27.585032           9  2023-07-10   1794
10          10  2023-07-11    28.778842          10  2023-07-11   2511
11          11  2023-07-12    23.835334          11  2023-07-12   2160
12          12  2023-07-13    30.944713          12  2023-07-13    855
13          13  2023-07-14    29.267127          13  2023-07-14     27
14          14  2023-07-15    25.575075          14  2023-07-15   1839
15          15  2023-07-16    28.632283          15  2023-07-16   2043
16          16  2023-07-17    32.013838          16  2023-07-17    900
17          17  2023-07-18    32.795059          17  2023-07-18    300
18          18  2023-07-19    24.799404          18  2023-07-19    657
19          19  2023-07-20    26.752678          19  2023-07-20   2241
20          20  2023-07-21    32.459505          20  2023-07-21    849
21          21  2023-07-22    24.321133          21  2023-07-22    663
22          22  2023-07-23    24.795955          22  2023-07-23   2664
23          23  2023-07-24    33.579580          23  2023-07-24   1473
24          24  2023-07-25    27.432170          24  2023-07-25    450
25          25  2023-07-26    33.957569          25  2023-07-26    984
26          26  2023-07-27    23.926716          26  2023-07-27   2766
27          27  2023-07-28    26.572704          27  2023-07-28   1866
28          28  2023-07-29    26.504578          28  2023-07-29    906
29          29  2023-07-30    29.358892          29  2023-07-30    594

In [8]:
final_df = pd.merge(
    sales_df, weather_df,
    left_on='date',
    right_on='date'
)

In [9]:
final_df

    Unnamed: 0_x        date  sales  Unnamed: 0_y  temperature
0              0  2023-07-01   2010             0    27.774945
1              1  2023-07-02   1845             1    29.418479
2              2  2023-07-03    141             2    28.495733
3              3  2023-07-04   2007             3    30.369211
4              4  2023-07-05   2592             4    23.527366
5              5  2023-07-06    330             5    33.863415
6              6  2023-07-07     18             6    29.496996
7              7  2023-07-08   1245             7    29.572397
8              8  2023-07-09   1689             8    26.581430
9              9  2023-07-10   1794             9    27.585032
10            10  2023-07-11   2511            10    28.778842
11            11  2023-07-12   2160            11    23.835334
12            12  2023-07-13    855            12    30.944713
13            13  2023-07-14     27            13    29.267127
14            14  2023-07-15   1839            14    25.575075
15            15  2023-07-16   2043            15    28.632283
16            16  2023-07-17    900            16    32.013838
17            17  2023-07-18    300            17    32.795059
18            18  2023-07-19    657            18    24.799404
19            19  2023-07-20   2241            19    26.752678
20            20  2023-07-21    849            20    32.459505
21            21  2023-07-22    663            21    24.321133
22            22  2023-07-23   2664            22    24.795955
23            23  2023-07-24   1473            23    33.579580
24            24  2023-07-25    450            24    27.432170
25            25  2023-07-26    984            25    33.957569
26            26  2023-07-27   2766            26    23.926716
27            27  2023-07-28   1866            27    26.572704
28            28  2023-07-29    906            28    26.504578
29            29  2023-07-30    594            29    29.358892

In [10]:
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/%D0%B1%D1%8B%D1%81%D1%82%D1%80%D0%BE%D0%B5%20%D0%B2%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B2%20pandas/data/air_quality_no2_long.csv"
air_quality_no2 = pd.read_csv(url,
                              parse_dates=True)

In [11]:
air_quality_no2

,city,country,date.utc,location,parameter,value,unit
0,Paris,FR,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,µg/m³
1,Paris,FR,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,µg/m³
2,Paris,FR,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,µg/m³
3,Paris,FR,2019-06-20 21:00:00+00:00,FR04014,no2,24.9,µg/m³
4,Paris,FR,2019-06-20 20:00:00+00:00,FR04014,no2,21.4,µg/m³
...,...,...,...,...,...,...,...
2063,London,GB,2019-05-07 06:00:00+00:00,London Westminster,no2,26.0,µg/m³
2064,London,GB,2019-05-07 04:00:00+00:00,London Westminster,no2,16.0,µg/m³
2065,London,GB,2019-05-07 03:00:00+00:00,London Westminster,no2,19.0,µg/m³
2066,London,GB,2019-05-07 02:00:00+00:00,London Westminster,no2,19.0,µg/m³
2067,London,GB,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,µg/m³

In [12]:
clients = pd.read_csv('data/2.3 clients.csv')
clients

    Unnamed: 0  client_id                  name   age
0            0       2392        Alicia Higgins  47.0
1            1       9213            Gary Evans  41.0
2            2       7159      Matthew Chandler  52.0
3            3       3643      William Gonzalez  18.0
4            4       3425        Debra Phillips  53.0
..         ...        ...                   ...   ...
95          95         30        Mark Gutierrez   NaN
96          96       8151         Zachary Miles  27.0
97          97       4048  Dr. Tommy Sutton Jr.  39.0
98          98       7771  Mrs. Theresa Vazquez   NaN
99          99       8567           Terry Smith  23.0

[100 rows x 4 columns]

<bound method DataFrame.nunique of                     name   salary      tax        zp  sal_for_year
0         Alicia Higgins  27777.0  3611.01  24165.99      388878.0
1             Gary Evans  27771.0  3610.23  24160.77      388794.0
2       Matthew Chandler  27782.0  3611.66  24170.34      388948.0
3       William Gonzalez  27748.0  3607.24  24140.76      388472.0
4         Debra Phillips  27783.0  3611.79  24171.21      388962.0
..                   ...      ...      ...       ...           ...
73        Jennifer Hobbs  27808.0  3615.04  24192.96      389312.0
74          George James  27767.0  3609.71  24157.29      388738.0
75         Zachary Miles  27757.0  3608.41  24148.59      388598.0
76  Dr. Tommy Sutton Jr.  27769.0  3609.97  24159.03      388766.0
77           Terry Smith  27753.0  3607.89  24145.11      388542.0

[78 rows x 5 columns]>

In [30]:
movies_df = pd.read_csv('movies.csv')

In [6]:
autos_df = pd.read_csv('2.4 autos.csv')
autos_df.dtypes

symboling              int64
make                  object
fuel_type             object
aspiration            object
num_of_doors           int64
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders       int64
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio      int64
horsepower             int64
peak_rpm               int64
city_mpg               int64
highway_mpg            int64
price                  int64
dtype: object

In [54]:
weather_df
sales_df
final_df = weather_df.merge(sales_df, left_on='date', right_on='date')

          date  temperature  sales
0   2023-07-01    27.774945   2010
1   2023-07-02    29.418479   1845
2   2023-07-03    28.495733    141
3   2023-07-04    30.369211   2007
4   2023-07-05    23.527366   2592
5   2023-07-06    33.863415    330
6   2023-07-07    29.496996     18
7   2023-07-08    29.572397   1245
8   2023-07-09    26.581430   1689
9   2023-07-10    27.585032   1794
10  2023-07-11    28.778842   2511
11  2023-07-12    23.835334   2160
12  2023-07-13    30.944713    855
13  2023-07-14    29.267127     27
14  2023-07-15    25.575075   1839
15  2023-07-16    28.632283   2043
16  2023-07-17    32.013838    900
17  2023-07-18    32.795059    300
18  2023-07-19    24.799404    657
19  2023-07-20    26.752678   2241
20  2023-07-21    32.459505    849
21  2023-07-22    24.321133    663
22  2023-07-23    24.795955   2664
23  2023-07-24    33.579580   1473
24  2023-07-25    27.432170    450
25  2023-07-26    33.957569    984
26  2023-07-27    23.926716   2766
27  2023-07-28    26.572704   1866
28  2023-07-29    26.504578    906
29  2023-07-30    29.358892    594

In [57]:
autos_df

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,23,28,16845
189,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8,160,5300,19,25,19045
190,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8,134,5500,18,23,21485
191,-1,volvo,diesel,turbo,4,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23,106,4800,26,27,22470
192,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,19,25,22625

In [52]:
sales_df

    Unnamed: 0        date  sales
0            0  2023-07-01   2010
1            1  2023-07-02   1845
2            2  2023-07-03    141
3            3  2023-07-04   2007
4            4  2023-07-05   2592
5            5  2023-07-06    330
6            6  2023-07-07     18
7            7  2023-07-08   1245
8            8  2023-07-09   1689
9            9  2023-07-10   1794
10          10  2023-07-11   2511
11          11  2023-07-12   2160
12          12  2023-07-13    855
13          13  2023-07-14     27
14          14  2023-07-15   1839
15          15  2023-07-16   2043
16          16  2023-07-17    900
17          17  2023-07-18    300
18          18  2023-07-19    657
19          19  2023-07-20   2241
20          20  2023-07-21    849
21          21  2023-07-22    663
22          22  2023-07-23   2664
23          23  2023-07-24   1473
24          24  2023-07-25    450
25          25  2023-07-26    984
26          26  2023-07-27   2766
27          27  2023-07-28   1866
28          28  2023-07-29    906
29          29  2023-07-30    594

In [4]:
import pandas as pd
import numpy as np
employees = pd.read_csv('employees.csv')
employees = employees.iloc[:, 3:]
employees['tax'] = employees['salary'] * 0.13
employees['zp'] = employees['salary'] - employees['tax']
employees['sal_for_year'] = employees['salary'] * 12 + employees['salary'] * 2

In [5]:
sum_for_org = sum(employees.salary)
sum_for_org

2167267.0